# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/

# Environment variables
.env

# IDE specific files
.vscode/
.idea/

# Database
*.db
*.sqlite3

# Log files
*.log

# System Files
.DS_Store
Thumbs.db